<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="main-title"><h1><%= pageTitle %></h1></div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
        <link rel="icon" href="favicon.ico">
        <script src="https://kit.fontawesome.com/6c05f714b3.js" crossorigin="anonymous"></script>
    </head>
<body>
