<%- include("../partials/header.ejs") %>

<article>
    <p><div class="home-img-container"><img src="/pp.png" width="500" alt="Bild på mig" class="home-img"></div></p>
    
    <h1>MoBn23</h1>
    <h1>Mohamed Bnshi</h1>
</article>

<%- include("../partials/footer.ejs") %>
